# For Loops

In [ ]:
for item in itterable:
    do things with item

In [1]:
list1 = [0,1,2,3,4,5,6,7,8,9,10]

In [2]:
for i in list1:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for i in list1:
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(10,3,-1):
    print(i)

10
9
8
7
6
5
4

In [10]:
10%2

0

In [11]:
11%2

1

In [12]:
for i in range(21):
    if i%2 == 0:
        print(f'the number {i} is even')
    else:
        print(f'the number {i} is odd')

the number 0 is even
the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 8 is even
the number 9 is odd
the number 10 is even
the number 11 is odd
the number 12 is even
the number 13 is odd
the number 14 is even
the number 15 is odd
the number 16 is even
the number 17 is odd
the number 18 is even
the number 19 is odd
the number 20 is even

In [14]:
for i in range(21):
    if i%2:
        print(f'the number {i} is odd')
    else:
        print(f'the number {i} is even')

the number 0 is even
the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 8 is even
the number 9 is odd
the number 10 is even
the number 11 is odd
the number 12 is even
the number 13 is odd
the number 14 is even
the number 15 is odd
the number 16 is even
the number 17 is odd
the number 18 is even
the number 19 is odd
the number 20 is even

In [15]:
a = 1 == 1

In [16]:
a

True

In [17]:
type(a)

bool

In [18]:
1==1

True

In [19]:
1<2

True

In [20]:
1>2

False

In [21]:
1>=2

False

In [22]:
2>=2

True

In [23]:
3>=2

True

In [24]:
2<=3

True

In [25]:
a = True
b = True

In [27]:
not a

False

In [28]:
a and b

True

In [29]:
b = False

In [30]:
a or b

True

In [34]:
if False:
    print('Hi')

In [35]:
list = []
for n in range(10):
    list.append(n)

print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
%%time
sum = 0
for i in range(20000001):
    sum = sum + i
    
print(f'Hey teacher, the sum is {sum}')

Hey teacher, the sum is 200000010000000
Wall time: 5.33 s

In [47]:
t = (1,2,3,4,5)
for n in t:
    print(n)

1
2
3
4
5

In [48]:
list2 = [(1,2), (3,4), (5,6)]

In [50]:
for n in list2:
    print(n)

(1, 2)
(3, 4)
(5, 6)

In [52]:
for m, n in list2:
    print(m)

1
3
5

In [53]:
d = {'k1': 1, 'k2':2, 'k3': 3}

In [54]:
for item in d:
    print(item)

k1
k2
k3

In [55]:
for item in d:
    print(d[item])

1
2
3

In [56]:
for item in d:
    print(f'for item {item} the value is {d[item]}')

for item k1 the value is 1
for item k2 the value is 2
for item k3 the value is 3

In [57]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [58]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [59]:
for k, v in d.items():
    print(f'for item {k} the value is {v}')

for item k1 the value is 1
for item k2 the value is 2
for item k3 the value is 3

In [60]:
for c in 'Hello world':
    print(c)

H
e
l
l
o

w
o
r
l
d

In [61]:
for c in 'Hello world':
    print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi